@using WebMVC.Models.Account

@model RegisterViewModel

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"/>
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName"/>
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber"/>
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password"/>
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <label asp-for="StreetName"></label>
        <input asp-for="StreetName"/>
        <span asp-validation-for="StreetName"></span>
    </div>
    <div>
        <label asp-for="StreetNumber"></label>
        <input asp-for="StreetNumber"/>
        <span asp-validation-for="StreetNumber"></span>
    </div>
    <div>
        <label asp-for="City"></label>
        <input asp-for="City"/>
        <span asp-validation-for="City"></span>
    </div>
    <div>
        <label asp-for="PostalNumber"></label>
        <input asp-for="PostalNumber"/>
        <span asp-validation-for="PostalNumber"></span>
    </div>
    <div>
        <label asp-for="CountryCode"></label>
        <input asp-for="CountryCode"/>
        <span asp-validation-for="CountryCode"></span>
    </div>
    <div>
        <label asp-for="Employee"></label>
        <input asp-for="Employee" type="checkbox" />
        <span asp-validation-for="Employee"></span>
    </div>

    <button type="submit">Register</button>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
</form>